main div{
  width: 65%;
  margin: 50px auto 50px auto;
  /* background-color: #222; */
  border: 1px solid #366841;
}

main div h3{
  font-size: 45px;
  padding: 15px 0 5px 20px;
  text-align: left;
  background-color: #84c298;
  border: none;
}

main div p#time{
  font-size: 23px;
  padding: 0 0 0 20px;
  background-color: #ddd;
}

main div#img{
  height: 470px;
  width: auto;
  margin: 40px 0 50px 0;
  background-color: #eee; 
  border: none; 
}

main div div#img img{

}
main div div#main-txt-div{
  text-align: center;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 100px;
  /* padding: 15px; */
  border: none;
  /* background-color: #eee; */
}

main div div#main-txt-div p#main-txt{
  font-size: 20px;
}

main div{}