@charset "UTF-8";

/* ----------ここから交渉了承ページ---------- */

main{
  margin: 0 auto;
}

/* 商品詳細部 */
.product-detail{
  width: 60%;
  margin: 40px auto 0 auto;
}
.product-detail ul{
  display: flex;
}
.product-detail ul li.img1{
  margin: 0 20px 0 0;
}
.product-detail ul li.img1 img{
  width: 300px;
}
.product-detail ul li.detail{
  width: 100%;
}


/* 商品名 */
.product-name{
  margin: 0 0 20px 0;
}

.product-name h3{
  font-size: 1.3rem;
}

/* 商品説明 */
.product-explanation{
  margin: 0 0 16px 0;
}
.product-explanation h3{
  font-size: 1.1rem;
}

/* 商品の情報 */
.product-information{
  width: 100%;
  margin: 0 0 8px 0;
}

.product-information h3{
  /* display: block; */
  margin: 0 0 8px 0;
  width: 100%;
  border-bottom: 1px solid #000;

}

.product-content{
  flex-direction: column;
}
/* 出品者 */
.seller-information{
  width: 100%;

}
.seller-information h3{
  width: 100%;
  margin: 0 0 8px 0;
  font-size: 1.1rem;
  border-bottom: 1px solid #000;
}



/* ボタン（交渉する、交渉しない） */
.exchange-accepted-button{
  text-align: center;
  margin-bottom: 24px;
  margin-top: 30px;
}
.exchange-accepted-button a.button-no{
  background-color: #37914b;
  width: 10%;
  padding: 4px 24px;
  border-radius: 3px;
}
.exchange-accepted-button a.button-yes{
  background-color: red;
  width: 10%;
  padding: 4px 32px;
  border-radius: 3px;
}
