body{}
main{
}

/* 見出し */
.news-midasi{
    text-align: center;

}
h2{
    margin: 30px;
    font-size:23px ;
}

/* メイン内容 */
.wrapper{
    
    width: 1100px;
    height: 100%;
    margin: 0 auto 0 auto;

}

/* 見出し画像 */

.midasi-phote{
    margin: 10px auto 10px 150px;
    padding: 10px;
}

.naiyou{
    width: 800px;
    margin: 10px auto 10px auto;
    font-size: 18px;
    line-height: 1.7;
}

/* 見出しメニュー */
.toc-001 {
    width: 400px;
    margin-bottom: 30px;
    padding: 1em 1em 1em 2em;
    border: 1px solid #999;
    background-color: #f7f7f7;
    margin: 0 auto 0 200px;
}

.toc-001 div {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px 0;
}

.toc-001 ol {
    list-style-type: decimal;
    margin: 0;
    padding: 0 1.2em;
    overflow: hidden;
}

.toc-001 ol ol {
    margin-top: 5px;
}

.toc-001 li {
    padding: 5px 0;
}

.toc-001 a {
    color: #166c9d;
}

/* 本題 */

.naiyou2{

}

.naiyou2 h2{
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px  aquamarine;/*左線*/
}

.naiyou2-image{
    margin: 10px auto 10px 150px;
}

.naiyou2-txt{
    width: 800px;
    margin: 10px auto 10px auto;
    font-size: 18px;
    line-height: 1.7;

}