/* 見出し */
.news-midasi{
    text-align: center;

}
h2{
    margin: 30px;
    font-size:23px ;
}
/* 見出しの画像 */
.midasi-phote{
    margin: 10px auto 10px auto;
    padding: 10px;
}

.midasi-naiyou{
    width: 800px;
    margin: 0 auto 0 auto;
    font-size: 18px;
    line-height: 1.7;
    text-align: left;
}

/* 内容です */
.new-naiyou{
    width: 800px;
}

.news-naiyou-midasi{
    width: 800px;
    margin: 25px auto 25px 350px;
    border-bottom: solid 3px gray;
}

.news-h3{
    width: 800px;
    padding: 0.20em 0.5em;/*上下 左右の余白*/
    margin: 0 auto 0 auto;
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 3px  aquamarine;/*左線*/
    font-size: 20px;
}

.komidasi{
    width: 800px;
    height: 70px;
    margin: 0 auto 0 auto;
    padding: 15px;
    font-size: 18px;
}

.naiyou{
    width: 800px;
    margin: 20px auto 20px auto;
    font-size: 18px;
    line-height: 1.7;
    text-align: left;

}