

/* 見出し */

.heading{
    height: 80px;
    text-align: center;
    margin: 30px auto 20px auto;
    font-size: 25px;
}

.opendata{
    width: 1000px;
    margin: 0 auto 0 auto;
}

/* 内容 */
.Content{
    width: 1000px;
    text-align: left;
    font-size: 18px;
    margin: 0 auto 0 auto;

}
.Content p{
    margin: 20px auto 20px auto ;
}

/* リンク色 */
.moving{
    text-decoration: underline;
    color: #15c78c;

}
@media (max-width: 999px) {
    /* 見出し */

    .heading{
        height: 80px;
        text-align: center;
        margin: 30px auto 20px auto;
        font-size: 25px;
    }

    .opendata{
        width: 100%;
        margin: 0 auto 0 auto;
    }

    /* 内容 */
    .Content{
        width: 100%;
        text-align: left;
        font-size: 18px;
        margin: 0 auto 0 auto;

    }
    .Content p{
        margin: 20px auto 20px auto ;
    }

    /* リンク色 */
    .moving{
        text-decoration: underline;
        color: #15c78c;

    }

}