@charset "UTF-8";
/* 商品詳細セクションのスタイル */
.product-details {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center; /* テキストを中央に配置 */
}

.product-image {
  max-width: 50%;
  padding: 20px;
}

.product-info {
  max-width: 50%;
  padding: 20px;
}

.product-info h1 {
  font-size: 24px;
  text-align: center; /* テキストを中央に配置 */
  font-family: 'M PLUS Rounded 1c', sans-serif; /* Google Fontsのフォントを適用 */
}

.product-info p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center; /* テキストを中央に配置 */
  font-family: 'M PLUS Rounded 1c', sans-serif; /* Google Fontsのフォントを適用 */
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 0 auto; /* ボタンを中央に配置 */
  font-family: 'M PLUS Rounded 1c', sans-serif; /* Google Fontsのフォントを適用 */
}

/* フッタースタイル */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
